{% extends "base.jinja" %}

{% block content %}
<div class="hero-image">
    <div class="hero-text"><img src="{{url_for('static', filename='/img/logo_transp_title.png')}}" width="400px">

        <h4>community | knowledge base | market</h4>
    </div>
</div>

<center>

    <br>
    <img src="{{url_for('static', filename='soon.jpeg')}}" align="middle" width="300px" />
    <br>
    <br>
    <h5 style="color: rgb(226, 214, 161)">Purchase: Coming Soon to <font style="color: white">Animal
            Wars
        </font><em>
            <font style="color: red">2086</font>
</center>


{% endblock %}